/*Primary Color*/
$p-color1:hsl(180, 62%, 55%);
$p-color2:hsl(0, 78%, 62%);
$p-color3: hsl(34, 97%, 64%);
$p-color4: hsl(212, 86%, 64%);

/*Neutral color*/
$n-color1:hsl(234, 12%, 34%);
$n-color2:hsl(229, 6%, 66%);
$n-color3:hsl(0, 0%, 98%);

//typography
$font-weights: (
    'normal':200,
    'medium':400,
    'bold':600
);
