* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Primary Color*/
/*Neutral color*/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

header {
  text-align: center;
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-weight: 400;
  font-size: 1.5rem;
  width: 90%;
  color: #4c4e61;
  line-height: 1.4;
}

header h1 .h1_highlight {
  font-weight: 600;
  color: #000;
}

header p {
  font-weight: 200;
  width: 80%;
  color: #4c4e61;
  margin-top: 1em;
  line-height: 1.6;
}

.card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card_wrapper .card-1 {
  border-top-color: #45d3d3;
}

.card_wrapper .card-2 {
  border-top-color: #ea5353;
}

.card_wrapper .card-3 {
  border-top-color: #fcaf4a;
}

.card_wrapper .card-4 {
  border-top-color: #549ef2;
}

[class*='card-'] {
  width: 85%;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 1.5em;
  margin-bottom: 5%;
  height: 200px;
  -webkit-box-shadow: 2px 5px 18px #a3a5ae;
          box-shadow: 2px 5px 18px #a3a5ae;
  border-top-width: 4px;
  border-top-style: solid;
}

.card_title {
  margin-bottom: 0.5em;
  font-weight: 600;
}

[class*='card-'] > p {
  font-weight: 200;
  line-height: 1.6;
  width: 100%;
  color: #4c4e61;
}

img {
  height: 40px;
  float: right;
  position: relative;
  top: 40px;
}

.attribution {
  font-size: 1rem;
  margin-top: 1em;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
  text-decoration: none;
  font-weight: 400;
}

@media only screen and (min-width: 767px) and (max-width: 1600px) {
  header h1 {
    width: 40%;
    font-size: 2rem;
  }
  header p {
    width: 38%;
  }
  main.card_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
    position: relative;
    left: 1.5em;
  }
  main.card_wrapper .card-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main.card_wrapper .card-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  main.card_wrapper .card-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  main.card_wrapper .card-4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  [class*='card-'] {
    -webkit-box-shadow: 3px 6px 9px #a3a5ae;
            box-shadow: 3px 6px 9px #a3a5ae;
    background: #fff;
  }
  footer {
    position: relative;
    bottom: 10em;
  }
}
/*# sourceMappingURL=style.css.map */